.deck-component.deck-volume-control{
  display: flex;
  flex-flow:column;
}

.component-volume-controls{
  display:flex;
  flex-flow:row;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}

.deck-volume-group{
  display:flex;
  flex-flow:row;
}

.deck-volume-group.expanded{
  border: 2px solid gray;
}

.deck-volume-meter{
    display:flex;
    flex-flow:column;
    align-items:center;
    width:100%;
    padding:10px;
}

.deck-volume-meter-label{
  white-space: nowrap;
}

.deck-volume-meter-bars{
    display:flex;
    flex-flow:row;
}

.deck-volume-meter-bar{
    position:relative;
    display:flex;
    height:200px;
    width:10px;
    background: linear-gradient(0deg, rgb(0, 75, 0) 0%, rgba(0,75,0,1) 60%, rgba(75,75,0,1) 60%, rgba(75,75,0,1) 80%, rgba(75,0,0,1) 80%, rgba(75,0,0,1) 100%);
    border: 1px solid black;
}

.deck-volume-meter-bar-level{
    transform-origin:bottom;
    height:100%;
    width:100%;
    background: linear-gradient(0deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 60%, rgba(255,255,0,1) 60%, rgba(255,255,0,1) 80%, rgba(255,0,0,1) 80%, rgba(255,0,0,1) 100%);
}

.deck-volume-meter-bar-power{
    display:none;
    position:absolute;
    animation:all 0.2s;
    width:100%;
    height:5px;
    background-color:black;
}

.deck-source-buttons{
  display:flex;
  flex-flow:column;
  align-self:flex-end;
}

.deck-source-buttons button{
  font-size:18px;
  padding:10px;
  margin-top:5px;
  color:var(--text-color);
  background-color: var(--button-color);
  border-radius:10px;
}

.deck-source-buttons button:hover{
  filter:brightness(1.2);
  cursor:pointer;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical !important; /* Chromium */
    width: 16px;
    height: 100% !important;
    padding: 0 5px;
}

input[type=range][orient=horizontal]
{
    width: 100% !important;
}

.deck-volume-meter-ui{
    display:flex;
    flex-flow:row;
}

input[type=range] {
    -webkit-appearance: none;
    appearance:none;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width:17px;
    height: 15px;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    appearance:none;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
  }
  input[type=range]::-moz-range-track {
    width: 20px;
    height: 100%;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animation-duration: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
  }

/*@media screen and (max-width:600px) {

    .deck-volume-control{
        display:flex;
        align-items:flex-start;
        flex-flow:column !important;
    }

    .deck-volume-meter{
      padding-left:0px;
      padding-bottom:0px;
    }

    .deck-source-buttons{
      flex-flow:row;
      align-self:flex-start;
    }

    .deck-volume-meter-ui{
        margin-bottom:20px;
        flex-flow:column;
        width:100%;
    }

    .deck-volume-meter-label{
        align-self:flex-start;
    }
    
    .deck-volume-meter-bar{
        height:10px;
        width:95%;
        background: linear-gradient(90deg, rgb(0, 75, 0) 0%, rgba(0,75,0,1) 60%, rgba(75,75,0,1) 60%, rgba(75,75,0,1) 80%, rgba(75,0,0,1) 80%, rgba(75,0,0,1) 100%);
    }

    .deck-volume-meter-bars{
        flex-flow:column;
        width:100%;
    }

    .deck-volume-meter-bar-level{
        transform-origin:left;
        background: linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(0,255,0,1) 60%, rgba(255,255,0,1) 60%, rgba(255,255,0,1) 80%, rgba(255,0,0,1) 80%, rgba(255,0,0,1) 100%);
    }

    .deck-volume-meter-bar-power{
        height:100%;
        width:5px;
    }
}
*/