.timeline-editor {
	width: 100%;
	height: 200px;
}

.timeline-zoom-slider {
	width: 100%;
	height: 32px;

    position: relative;

    background: var(--gray-700);

	&:focus {
		outline: none;
	}
	&::-webkit-slider-runnable-track {
        position: relative;
        display: block;
		width: 100%;
		height: 15px;
		animation-duration: 0.2s;
		box-shadow: 1px 1px 1px #50555c;
		background: #50555c;
		border-radius: 14px;
		border: 0px solid #000000;
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		appearance: none;
		box-shadow: 0px 0px 0px #000000;
		border: 0px solid #000000;
		height: 15px;
		width: 15px;
		border-radius: 12px;
		background: #529de1;
		cursor: pointer;
	}
	&:focus::-webkit-slider-runnable-track {
		background: #50555c;
	}
	&::-moz-range-track {
        position: relative;
        display: block;
        width: 100%;
		height: 100%;
		animation-duration: 0.2s;
		box-shadow: 1px 1px 1px #50555c;
		background: #50555c;
		border-radius: 14px;
		border: 0px solid #000000;
	}
	&::-moz-range-thumb {
		box-shadow: 0px 0px 0px #000000;
		border: 0px solid #000000;
		height: 20px;
		width: 20px;
		border-radius: 12px;
		background: #529de1;
		cursor: pointer;
	}
	&::-ms-track {
        position: relative;
        display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
		animation-duration: 0.2s;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}
	&::-ms-fill-lower {
		background: #50555c;
		border: 0px solid #000000;
		border-radius: 28px;
		box-shadow: 1px 1px 1px #50555c;
	}
	&::-ms-fill-upper {
		background: #50555c;
		border: 0px solid #000000;
		border-radius: 28px;
		box-shadow: 1px 1px 1px #50555c;
	}
	&::-ms-thumb {
		margin-top: 1px;
		box-shadow: 0px 0px 0px #000000;
		border: 0px solid #000000;
		height: 20px;
		width: 20px;
		border-radius: 12px;
		background: #529de1;
		cursor: pointer;
	}
	&:focus::-ms-fill-lower {
		background: #50555c;
	}
	&:focus::-ms-fill-upper {
		background: #50555c;
	}
}

.timeline-editor-action .prompt {
	text-align: center;
	font-size: 18px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.timeline-editor-action .prompt label {
	display: none;
}

.timeline-editor-action-effect-nottimed {
	.timeline-editor-action-left-stretch,
	.timeline-editor-action-right-stretch {
		display: none;
	}
}

/*CHAT COMMANDS TAB*/

.event-container {
	margin: 5px;
}

.add-command:not(.hidden) {
	display: flex;
	flex-flow: row;
	margin: 15px;
	align-items: center;
}

.delete-event-div {
	margin-left: 15px;
}

.add-command-fields {
	display: flex;
	flex-flow: column;
}

.add-command-form:not(.selected) {
	display: none;
}

.add-command label {
	display: flex;
	padding: 5px;
	justify-content: space-between;
}

.event-search {
	display: flex;
	flex-flow: row;
	margin-left: 5px;
	margin: 10px;
	width: 100px;
}

.event-search-bar {
	font-size: 18px;
	padding: 5px;
	padding-left: 30px;
}

.event-search-icon {
	position: absolute;
	color: black;
	margin-left: 5px;
	margin-top: 5px;
}

option {
    color: var(--button-font-color);
	background-color: var(--primary-color);
}

.event-trigger {
	flex-flow: column;
	align-items: flex-start;
	flex-wrap: wrap;
}

.command-table {
	background-color: var(--tab-active-color);
}

.command-container {
	overflow: auto;
	height: calc(100% - 150px);
}

.command-category {
	font-size: 32px;
	margin: 10px;
}

#toggleAddCommandButton {
	max-width: 50px;
}

#toggleAddCommandButton.opened {
	background-color: var(--button-add-color);
}

.command-element {
	display: flex;
	flex-flow: column;
}

.command-element:not(.expanded):hover {
	background-color: var(--gray-700);
}

.command-element.expanded {
	background-color: var(--gray-800);
}

.command-actions {
	margin-left: 15px;
	align-self: flex-end;
}

.command-key {
	font-size: 24px;
	padding: 10px;
}

.command-key svg {
	margin-left: 15px;
}

.command-key.expanded {
	border-bottom: var(--border-color) 1px solid;
}

.command-key label {
	pointer-events: none;
}

.command-props {
	font-size: 18px;
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.command-props.response {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.response-code-ui {
	display: flex;
	flex-flow: column;
}

.response-code-editor {
	font-size: 18px;
	min-width: 300px;
	max-width: 90vw;
	// margin: 10px;
}

.response-code-output {
	padding: 5px;
	margin: 5px;
}

.response-cheatsheet {
	margin: 10px;
	font-size: 16px;
}

.response-cheatsheet ul {
	margin: 10px;
}

.response-cheatsheet li {
	margin: 10px;
}

.command-arrows {
	display: flex;
	flex-direction: column;
}

.type-label-conflicts {
	display: flex;
	flex-flow: column;
}

.command-arrows div {
	flex: 1;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--text-color);
}

.command-fields {
	border-bottom: var(--border-color) 1px solid;
	margin-left: 15px;
}

.command-props.triggers {
	flex-flow: column;
	align-items: flex-start;
}

.command-props.software {
	flex-flow: column;
	align-items: flex-start;
}

.command-props.plugin {
	flex-flow: column;
	align-items: flex-start;
}

.command-fields {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.command-section {
	display: flex;
	flex-direction: column;
    align-items: flex-start;

	gap: 1rem;

	padding: 10px;

	.command-props,
	.command-props [triggertype],
    .command-props .bool-group {
		display: flex;
		flex-direction: column;
		gap: 1rem;
        .bool-group,
		[triggertype] {
			padding: 0.5rem;
			box-shadow: 0 0 0 1px var(--gray-600);
			border-radius: var(--interactive-radius);
			gap: 0.75rem;

            transition: background-color .2s, box-shadow .2s ease-in-out;

            &:hover,
            &:focus-within {
                border-width: 2px;
                box-shadow: 0 0 0 2px var(--gray-500);
                background-color: var(--gray-700);
            }
		}
	}
}

.field-section {
	font-size: 20px;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.command-element {
	padding-left: 10px;
}

.event-add {
	margin: 15px;
}

.command-group {
	font-size: 30px;
	border-bottom: var(--border-color) 1px solid;
}

.command-group-label:hover {
	cursor: pointer;
	background-color: var(--gray-700);
}

.command-group.expanded .command-group-label {
	margin-bottom: 10px;
}

.command-group-label {
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 10px;
	padding-left: 5px;
}

.command-group-actions {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-left: 15px;
}

.command-group:not(.expanded) .command-group-actions {
	display: none;
}

.verified {
	border: green 2px solid;
}

.failed {
	border: red 2px solid;
}

@media screen and (max-width: 600px) {
	.command-props {
		flex-flow: column;
		align-items: flex-start;
	}
	.command-props label[triggertype] {
		flex-flow: column;
		align-items: flex-start;
	}
	.command-fields {
		flex-flow: column;
		align-items: flex-start;
	}
	.command-arrows {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}
