.settings-form-element{
    display:flex;
    flex-flow:column;
    border-top:solid 2px var(--border-settings-color);
    border-bottom:solid 2px var(--border-settings-color);
}

@keyframes newglow{
    0%{
        background-color:transparent;
    }
    50%{
        background-color:var(--button-save-color);
    }
    0%{
        background-color:transparent;
    }
}

@keyframes deleted{
    0%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    100%{
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
}

.new{
    animation-name:newglow;
    animation-duration:2s;
}

.deleting{
    background-color:var(--button-delete-color);
    transition: background-color 1s;
}

.deleted{
    animation-name:deleted;
    animation-delay: 0.5s;
    animation-duration:0.5s;
}

.settings-form-container,
.asset-container{
    background-color: var(--tab-inactive-color);
    
}

.no-plugins-div{
    padding:15px;
}

.no-plugins-div h1{
    font-size:24px;
    margin-bottom:5px;
}

.no-plugins-div p{
    margin-bottom:5px;
}

.plugin-entry-settings{
    margin-top:10px;
    padding:10px;
}

.plugin-entry{
    border-bottom: solid 2px var(--border-color);
    padding-top:15px;
    padding-bottom:15px;
}

.plugin-entry-links .link-button{
    margin-left:10px;
}

.info-description,
.info-dependencies,
.info-actions{
    padding:5px;
    margin:5px;
    display:flex;
    flex-flow:column;
}

.plugin-entry-ui {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 36px;
    margin-left: 15px;
    margin-right: 15px;
}

.plugin-entry-title{
    margin-left:10px;
    margin-bottom:5px;
    font-size: 36px;
    display:flex;
    flex-flow:row;
    align-items:center;
}

.plugin-entry-subtitle{
    padding:10px;
    font-size:18px;
}

.plugin-entry-info {
    margin-left: 10px;
}

.plugin-entry-info a {
    font-size: 24px;
    color: var(--text-link-color);
}

.plugin-entry-links{
    display:flex;
    flex-flow:row;
}

.plugin-entry-settings.expanded {
    display: flex;
    flex-flow: column;
}

.plugin-entry-settings label,
.boolswitch-div {
    margin: 5px;
}

.plugin-entry-settings input {
    margin-left: 10px;
}

.plugin-entry-settings {
    display: flex;
    flex-flow: column;
}

.plugin-entry-icon .plugin-default-icon{
    display:none;
}

.plugin-entry-icon.default .plugin-default-icon, .plugin-status-icon{
    display:block;
    width:75px;
    height:75px;
}

.plugin-entry-icon img{
    width:75px;
    height:75px;
}

.plugin-entry-icon.default img{
    display:none;
}

.plugin-button-ui{
    display:flex;
    margin-left:auto;
}
.plugin-create-element{
    display:flex;
}
.plugin-create-element label{
    margin:5px;
}
.plugin-create-element input{
    margin-left:5px;
}
.plugin-create-element form{
    display:flex;
    flex-flow:column;
}

.plugin-button,
.asset-button,
.link-button-button{
    color:var(--text-color);
    text-align:center;
    width:50px;
    padding:15px;
    cursor: pointer;
}

.link-button-button{
    width:auto;
    background-color:var(--button-color);
    border-radius: 10px;
}

.link-button-button.copy.success{
    background-color:var(--button-save-color);
}

.link-button-button:not(.icononly) svg{
    margin-left:10px;
}

.plugin-button:hover,
.asset-button:hover,
.link-button-button:hover{
    filter:brightness(1.2);
}

.plugin-button.delete:hover,
.asset-button.delete:hover{
    background-color:var(--button-delete-color);
}


.plugin-button.settings{
    background-color:var(--button-color);
}

.plugin-button.info{
    background-color:var(--button-color);
    border-radius: 10px 0 0 10px;
}

.plugin-button.delete{
    border-radius: 0 10px 10px 0;
    background-color:var(--button-color);
}

.plugin-button.upload,
.plugin-button.export,
.asset-button{
    background-color:var(--button-color);
    
}

.asset-button.refresh{
    border-radius: 0 10px 10px 0;
}

.plugin-button.export a{
    color:var(--text-color);
}

.plugin-install-button{
    display:flex;
}

.plugin-install-button button {
    margin: 15px;
    font-size: 24px;
    color: var(--text-color);
    background-color: var(--button-plugin-color);
    padding: 15px;
    border-radius:10px;
}

.plugin-install-button button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.asset-container{
    margin-top:10px;
    padding-top:15px;
    padding-bottom:15px;
    border-top:solid 2px var(--button-color);
    width:100%;
    height:50%;
}

.asset-folder-text{
    font-size:24px;
    margin:5px;
}

.asset-entry{
    background-color:var(--asset-entry-color);
    padding:15px;
    user-select: none;
    cursor: pointer;
}

.asset-entry svg{
    margin-right:10px;
}

.asset-entry:hover{
    background-color:var(--asset-entry-hover-color);
}

.asset-entry.selected{
    background-color:var(--asset-entry-selected-color);
}

.asset-select{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:500px;
    border-bottom:solid 2px var(--border-assets-color);
}

.asset-fileselect{
    width:50%;
    height:100%;
    overflow:overlay;
}

.asset-preview{
    display:flex;
    height:100%;
    width:50%;
    justify-content:center;
}

.asset-preview img{
    max-width:100%;
    max-height:100%;
}

.asset-preview audio{
    margin:auto;
}

.asset-preview #audioPreview{
    display:none;
}

.asset-preview #audioPreview[file]{
    display:block;
}

.asset-buttons{
    display:flex;
    margin-top: 10px;
    margin-left:10px;
    font-size:24px;
}

.asset-button.upload{
    border-radius: 10px 0 0 10px;
}

.asset-button.delete{
    border-radius: 0 10px 10px 0;
}

.save-div {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.spinning{
    color: var(--button-save-color);
    animation-name:spin;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin{
    0%{
        filter:hue-rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
        transform:rotate(360deg);
    }
}

@media screen and (max-width: 600px){
    .plugin-entry-ui{
        display:flex;
        flex-flow:column;
    }

    .plugin-entry-title{
        display:flex;
        flex-flow:column;
    }

    .plugin-button-ui{
        margin-top:10px;
    }

    .plugin-install-button{
        display:flex;
        align-items:center;
    }

    .plugin-entry-info{
        text-align:center;
    }

    .plugin-entry-info a{
        font-size:18px;
    }

    .asset-select,
    .asset-preview{
        flex-flow:column-reverse;
    }

    .asset-select,
    .asset-preview{
        height:50%;
    }

    .asset-preview{
        height:200px;
    }

    .asset-preview img{
        object-fit:contain;
    }

    .asset-fileselect{
        width:100%;
        margin-top:20px;
        height:250px;
        overflow:auto;
    }
}