$colors: (
	font-family: 'Arial, Helvetica, sans-serif',
	color-primary: #006e6e,
	color-background-far: #002733,
	color-background-near: #00526b,
	color-button-background: #006685,
	color-button-border: #008080,
	color-dark-analogous-cw: #00376e,
	color-dark-analogous-ccw: #006e37,
	color-analogous-cw: #00376E,
	color-analogous-ccw: #006E37,
	color-delete: #8f2525,
	color-add: #4141ac,
	color-save: #268626,
	color-plugin: #09c,
	color-obs: #555,
	color-obs-streaming: #09c,
	color-obs-recording: #c92d2d,
	color-obs-scene-active: #30307c,
	color-obs-studiomode-active: #af7200,

	white: #fff,
	black: #000,
	gray-100: #f7fafc,
	gray-200: #edf2f7,
	gray-300: #e2e8f0,
	gray-400: #cbd5e0,
	gray-500: #a0aec0,
	gray-600: #718096,
	gray-700: #4a5568,
	gray-800: #2d3748,
	gray-900: #1a202c,

	text-link-color: #9cc,
	text-placeholder-color: #aaa,

	asset-entry-color: #002733,
	asset-entry-hover-color: #00526b,
	asset-entry-selected-color: #006685,
	border-color: #808080,
	border-settings-color: #090,
	border-assets-color: #008080,
	input-field-color: #111,

	input-text-color:#000,
	input-background-color:#fff,
);

:root {
    --button-font-color-primary: $white;
    --button-font-color-analogous-cw: $white;
    --button-font-color-analogous-ccw: $white;
    // Loop through the colors and create CSS variables
	@each $color-name, $color-value in $colors {
		--#{"" + $color-name}: #{$color-value};
	}
}