:root {
  --footer-height: 78px;
}

.footer {
  position: fixed;
  bottom: calc(-1 * var(--footer-height));
  background-color: var(--color-background-far);
  max-height: var(--footer-height);

  transition:
    max-height 0.3s ease-in-out,
    width 0.5s,
    left 0.5s,
    bottom 0.3s ease-in-out;

  &:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    height: calc(var(--interactive-radius) * 2);
    width: calc(var(--interactive-radius) * 2);
    border-radius: 0 0 0 calc(var(--interactive-radius) * 2);
    background-color: var(--color-background-near);
    box-shadow: -4px 4px 0px 2px var(--color-background-far);
    border: 2px solid var(--button-border-color);
    border-top-width: 0;
    border-right-width: 0;
    z-index: 3;
  }
}

.slide-enter {
  bottom: calc(-1 * var(--footer-height));
}

.slide-enter-active,
.slide-enter-done {
  bottom: 0;
}

.slide-exit {
  bottom: 0;
}

.slide-exit-active,
.slide-exit-done {
  bottom: calc(-1 * var(--footer-height));
}
