@import "../core/animations.scss";

.loading-circle{
    padding:50px;
    display:flex;
    align-self:center;
}

.loading-circle img{
    transform-origin: 50% 50%;
    animation-name:spin;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}