.top-header {
	z-index: 2;
	display: flex;
	position: fixed;
	height: calc(var(--header-height) + var(--navigation-tab-height));
	background-color: var(--color-background-far);
	user-select: none;
	cursor: pointer;
	transition: background-color 0.5s;

    .navigation-open-button {
        padding: 10px;

        will-change: auto;

        transform: scale(1);
        transition: transform 0.2s ease-in-out;
    }
}
.top-header.save {
	background-color: rgb(0, 70, 0);
}

.nav-share-container {
	overflow-y: auto;
}

.navigation-bar{
	transition: background-color 0.5s;
	border-radius: 0 0 var(--interactive-radius) var(--interactive-radius) !important;
	height:var(--header-height);
	&:hover {
        background-color: var(--button-background-color);

        .navigation-open-button {
            transform: scale(1.2);
        }
    }
}

.navigation-menu {
	position: fixed;
	top: var(--header-height);
	width: 100vw;
	background-color: var(--color-background-far);
	z-index: 10;
	opacity: 0;
	max-height: 0;
	pointer-events: none;
	transition: all 0.5s;

	&.open {
		opacity: 1;
		max-height: 100%;
		pointer-events: all;

        background-color: var(--color-background-near);
	}
}

.navigation-tabs {
	position: relative;
	display: flex;

    overflow: hidden;

	padding-top: 20px;

	background-color: var(--color-background-far);

	> button.tab-button {
		--tab-pop: 0rem;

		position: relative;

        color: var(--white);
		background-color: var(--color-background-far);

		cursor: pointer;

		margin-top: calc(-1 * var(--tab-pop));
		padding: 0.5rem 1.1rem calc(0.5rem + var(--tab-pop));
		border-radius: var(--interactive-radius) var(--interactive-radius) 0 0;

        box-shadow: 0 0 0 0 rgba(map-get($colors, black), $alpha: 1);

        z-index: 0;

        transition: background-color 0.2s, box-shadow 0.2s ease-in-out, outline-offset 0.2s ease-in-out, filter 0.2s, padding 0.2s ease-in-out, margin 0.2s ease-in-out;

		&:hover,
        &:focus,
        &:focus-visible {
			--tab-pop: 0.75rem;
			background-color: var(--color-background-near);

            box-shadow: 0 0 1rem 0 rgba(map-get($colors, black), $alpha: .5);

            z-index: 1;
		}

        &:active {
            --tab-pop: 0.25rem;

            filter: brightness(1.05);
        }

		&.selected {
			--tab-pop: 0.5rem;
			background-color: var(--color-background-near);

            filter: brightness(1);

            box-shadow: 0 0 .75rem 0 rgba($color: #000, $alpha: .75);

            z-index: 2;
		}
	}
}

.navigation-tabs-mobile {
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	font-size: 24px;
	background-color: var(--color-background-far);
	button {
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		text-align: center;
		font-size: 24px;
	}
	.tab-button.selected {

		border: 2px solid white;
	}
}