.deck-scene-controller{
    display:flex;
    flex-flow:column;
    align-items:center;
}

.scene-controller-container{
    display:flex;
    flex-flow:row;
    align-items:center;
    flex-wrap:wrap;
    
}

.scene-controller-transition{
    display:flex;
    flex-flow:row;
    align-items:center;
    justify-content: space-evenly;
}

.scene-controller-scene-button,
.scene-controller-studiomode-button,
.scene-controller-transition-button{
    user-select: none;
    cursor:pointer;
    display:flex;
    flex-flow:column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width:75px;
    height:75px;
    margin:15px;
    padding:15px;
    border-radius:15px;
    background-color:var(--button-obs-color);
}

.scene-controller-scene-button:hover,
.scene-controller-studiomode-button:hover,
.scene-controller-transition-button:hover{
    filter:brightness(1.2);
}

.scene-controller-scene-button.preview{
    outline: 5px solid var(--button-obs-scene-active);
}

.scene-controller-studiomode-button.enabled{
    background-color:var(--button-obs-studiomode-active);
}

.scene-controller-scene-button.program{
    background-color:var(--button-obs-scene-active);
}