.scene-controller-scene-button,
.scene-controller-studiomode-button,
.scene-controller-transition-button {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scene-controller-scene-button.preview {
  outline: 5px solid var(--button-obs-scene-active);
}

.scene-controller-studiomode-button.enabled {
  background-color: var(--button-obs-studiomode-active);
}

.scene-controller-scene-button.program {
  background-color: var(--button-obs-scene-active);
}
