:root {
	--font-family: Arial, Helvetica, sans-serif;
	--color-primary: #006e6e;
	--color-delete: #8f2525;
	--color-add: #4141ac;
	--color-save: #268626;
	--color-plugin: #09c;
	--color-obs: #555;
	--color-obs-streaming: #09c;
	--color-obs-recording: #c92d2d;
	--color-obs-scene-active: #30307c;
	--color-obs-studiomode-active: #af7200;

	--white: #fff;
    --black: #000;
    --gray-100: #f7fafc;
    --gray-200: #edf2f7;
    --gray-300: #e2e8f0;
    --gray-400: #cbd5e0;
    --gray-500: #a0aec0;
    --gray-600: #718096;
    --gray-700: #4a5568;
    --gray-800: #2d3748;
    --gray-900: #1a202c;

	--text-link-color: #9cc;
	--text-placeholder-color: #aaa;

	--asset-entry-color: #002733;
	--asset-entry-hover-color: #00526b;
	--asset-entry-selected-color: #006685;
	--border-color: #808080;
	--border-settings-color: #090;
	--border-assets-color: #008080;
	--input-field-color: #111;
}